/* Global Bootstrap Overrides */
.btn {
    border-radius: 0px;
    padding: 10px 20px;
}
.btn-primary {
    background-color: #c85108 !important;
    border-color: transparent !important;
    color: #fff !important;
}
.btn-action {
    background-color: #066079 !important;
    border-color: transparent !important;
    color: #fff !important;
}
.card {
    border-radius: 0px;
    border: 0px;
    background-color: #e1e1e1;
    padding: 10px 30px;
    border: 0px;
    border-radius: 0px;
}
input[type="checkbox"] {
    box-shadow: 0px 0px 0px 2px #c85108;
    border-radius: 0px !important;
}
.asb-body {
    font-family: Overpass, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ASB Navbar Overrides */
.asb-nav {
    background-color: #03475c !important;
    padding-top: 0;
    padding-bottom: 4px;
}
.asb-nav .navbar-brand {
    padding: 0;
    margin-top: -4px;
    font-weight: 900;
    font-size: 20px;
    color: white;
}
.asb-nav .nav-link {
    padding: 1px 15px 1px 15px !important;
    margin-right: -1px;
    border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #888;
    border-radius: 0px;
    color: white;
    transition: color 0.2s;
    text-decoration: none;
    background-color: transparent;
}

.asb-nav .navbar-text a {
    color: white;
}

.asb-nav .navbar-text a:hover {
    color: #ff6633c9;
    text-decoration: none;
}

.asb-nav .navbar-user {
    font-size: 16px;
    color: white;
}
.asb-nav .navbar-text {
    height: 40px;
    font-family: Overpass, sans-serif;
    color: white;
    font-size: xx-large;
}
.asb-nav .navbar-toggler {
    background-color: #ff6633c9;
    border-radius: 0;
}
.asb-nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    /*' vimfix*/
}
.asb-nav .mast-logo {
    height: 33px;
    width: 33px;
    margin-top: -2px;
    margin-right: 5px;
}
.asb-nav .btn {
    /* Revert this button back to bootstrap default */
    padding: 0.375rem 0.75rem !important;
}
.asb-nav .btn-action {
    margin-top: -4px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: -4px;
}

/* ASB Site Header */
.site-header-bg {
    background-image: url(/static/images/background.jpg);
    background-size: 100%;
    width: 100%;
    min-height: 93px;
}
.site-header-text {
    padding-top: 1rem;
    font-weight: 700;
    font-size: 48px;
    color: white;
}

/* Info Table */
.asb-info-table tr:nth-child(even) {
    background-color: rgba(241, 242, 247, 1);
}
.asb-info-table td:nth-child(1) {
    color: #354590;
    font-weight: bold;
}
.asb-info-table td {
    border-width: 1px;
    border-color: rgb(222, 226, 230);
    border-style: solid;
}

/* ASB Footer */
.asb-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #2d353c;
    color: white;
}
html {
    position: relative;
    min-height: 100%;
}
.asb-body {
    margin-bottom: 234px;
}
.mast-logo {
    height: 60px;
}
.center-horizontal {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}
#voila_cases {
    margin-top: 40px;
}

.container.custom-container {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 100%;
}
